{template header}
    <div class="main">
		<div class="login">
        	<ul>
            	<li>
                    <p id="prompt"></p>
                	<input type="text" name="email" placeholder="请输入邮箱" class="input_3"/>
                	<p>&nbsp;</p>
                </li>
                <li><input type="submit" onclick="dosubmit();" value="下一步" class="btnBlue" /></li>
            </ul>
        </div>
    </div>
<script type="text/javascript">
/* 下一步 */
function dosubmit() {
    if ($('input[name="email"]').val() == '') {
        hd_alert('请输入邮箱');
        return false;
    }
    $('#prompt').html('正在提交...');
    $.post("{U('User/Public/repwd')}",{
        email : $('input[name="email"]').val()
    },function(data){
        if (data.status == 1) {
            hd_alert(data.info);
            location.href = data.url;
        }else{
            hd_alert(data.info);
            location.reload();
        }
    },'JSON');

}
setTitle('找回密码');
</script>
</body>
</html>